@import "98.css";

html,
body,
#root {
    margin: 0;
    height: 100%;
}

body {
    overflow: hidden;
}

/* Ensure no rounded corners anywhere on the main window or root containers. */
:global(.window),
#root {
    border-radius: 0;
}